<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>vizion-AI|ML-Health-Care Responsive</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
   </head>
   <body >
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <img src="images/loader.gif" alt="loder">
         </div>
      </div>
      <!-- loading End -->
     <!-- Header-->
    <header id="header" class="home position main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light">
              <!-- <div class="header_logo"> -->
                <a class="navbar-brand" href="index.html">
                  <img class="img-fluid logo" src="images/logo.png" alt="image">
                </a>
              <!-- </div> -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="about-us.html">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="technology.html">Technology</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Blog
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="one-column-blog.html">One Column Blog</a>
                      <a class="dropdown-item" href="two-column-blog.html">Two Column Blog</a>
                      <a class="dropdown-item" href="three-column-blog.html">Three Column Blog</a>
                      <a class="dropdown-item" href="left-sidebar-blog.html">Left Sidebar Blog</a>
                      <a class="dropdown-item" href="right-sidebar-blog.html">Right Sidebar Blog</a>
                      <a class="dropdown-item" href="blog-details.html">Blog Details</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Pages
                    </a>
                    <div class="dropdown-menu ml-dropdown" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="404.html">Error 404</a>
                      <a class="dropdown-item" href="comingsoon.html">Coming Soon</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">Contact Us</a>
                  </li>
                </ul>
              </div>
              <div class="sub-main">
                <a class="button btn-hdr" href="#">Appointment</a>
              </div>
              
            </nav>
           
          </div>
        </div>
      </div>
    </header>
    <!-- Header-->
      <!-- Breadcrumb Start -->
      <section class="iq-breadcrumb">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 mb-4 mb-lg-0">
                  <h3 class="title">About Us</h3>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                        <li class="breadcrumb-item active">About Us</li>
                     </ol>
                  </nav>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb End -->
      <!-- Main-Content Start -->
      <div class="main-content">
         <section class="iq-aboutus ">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 align-self-center">
                     <div class="img-box wow fadeInLeft text-center">
                        <img src="images/about/01.jpg" class="img-fluid" alt="#">
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="content-box mt-5 mt-lg-0">
                        <h3 class="mb-3">Artificial Intelligence</h3>
                        <p class="mb-3">At the heart of VIZION are large-scale machine learning algorithms that are trained at petabyte-scale from tens of thousands of digital slides. We are developing novel deep learning algorithms based on convolutional and recurrent neural networks as well as generative models that are able to learn efficiently from an unprecedented wealth of visual and clinical data</p>
                        <p class="mb-0">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="iq-medical  grey-bg" >
            <div class="container">
               <div class="row flex-row-reverse">
                  <div class="col-lg-6">
                     <div class="img-box wow fadeInRight text-center">
                        <img src="images/about/02.jpg" class="img-fluid" alt="#">
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="content-box mt-5 mt-lg-0">
                        <div class="title-box">
                        <h3 class="mb-2">Medical AI at an unprecedented scale</h3>
                        <h6 class="mb-3">Separated they live in Bookmarksgrove right at the
                        Semantics, a large language ocean.</h6>
                     </div>
                        <p class="mb-0">PAIGE has a comprehensive license with MSK and exclusive rights to their library of 25 million pathology slides — one of the largest tumor pathology archives. PAIGE plans to build on to MSK's efforts and digitize millions of archived slides. This digital treasure, along with anonymized clinical data, allows us to train models at scale.</p>
                        
                        <ul class="description mt-3">
                           <li><span>UI/UX/PX Design</span></li>
                           <li><span>Product Design</span></li>
                           <li><span>Service Design</span></li>
                           <li><span>Environment and Workflow Design</span></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <!-- Our Team Start -->
         <section class="iq-team ">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="section-title">
                        <span>Our Experience Team</span>
                        <h2 class="title">The Best Team Available </h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                     <div class="team-box">
                        <div class="team-images">
                           <img src="images/team/01.jpg" class="img-fluid mx-auto d-block" alt="#">
                        </div>
                        
                        <div class="team-social">
                           <ul>
                              <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                              <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                              <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
                              <li> <a href="#"> <i class="fab fa-google-plus-g"></i> </a> </li>
                           </ul>
                        </div>
                     </div>
                     <div class="team-box-info">
                        <h5 class="mt-3">Mark Hughes</h5>
                        <p class="mb-0">Founder</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                     <div class="team-box">
                        <div class="team-images">
                           <img src="images/team/02.jpg" class="img-fluid mx-auto d-block" alt="#">
                        </div>
                        
                        <div class="team-social">
                           <ul>
                              <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                              <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                              <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
                              <li> <a href="#"> <i class="fab fa-google-plus-g"></i> </a> </li>
                           </ul>
                        </div>
                     </div>
                     <div class="team-box-info">
                        <h5 class="mt-3">Javier Bardem</h5>
                        <p class="mb-0">Senior AI Scientist</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 mb-md-0">
                     <div class="team-box">
                        <div class="team-images">
                           <img src="images/team/03.jpg" class="img-fluid mx-auto d-block" alt="#">
                        </div>
                        
                        <div class="team-social">
                           <ul>
                              <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                              <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                              <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
                              <li> <a href="#"> <i class="fab fa-google-plus-g"></i> </a> </li>
                           </ul>
                        </div>
                     </div>
                     <div class="team-box-info">
                        <h5 class="mt-3">Danielle Wyatt</h5>
                        <p class="mb-0">AI Research Engineer</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="team-box">
                        <div class="team-images">
                           <img src="images/team/04.jpg" class="img-fluid mx-auto d-block" alt="#">
                        </div>
                        
                        <div class="team-social">
                           <ul>
                              <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                              <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                              <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
                              <li> <a href="#"> <i class="fab fa-google-plus-g"></i> </a> </li>
                           </ul>
                        </div>
                     </div>
                     <div class="team-box-info">
                        <h5 class="mt-3">Joe Burns</h5>
                        <p class="mb-0">Front-End Developer</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- Our Team End -->
         <!-- Client Testimonial start -->
         <section class="iq-testimonial  grey-bg">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="section-title">
                        <span>Write & read reviews
                        </span>
                        <h2>Don’t take our word for it
                        </h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                     <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30">
                        <div class="item">
                           <div class="iq-client">
                              <div class="client-img">
                                 <img class="img-fluid rounded-circle" src="images/testimonial/01.png" alt="#">
                                 <h6 class="mb-0">Peter Nevil</h6>
                                 <span>Manager</span>
                              </div>
                              <div class="client-info">
                                 <p class="font-italic mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. T he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                              </div>  
                              <div class="iq-icon">
                                    <i class="fas fa-quote-left"></i>
                                 </div>
                           </div>
                        </div>
                        <div class="item">
 
                           </div>
                        <div class="item">
                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--Client Testimonial end -->
         <!-- Our Clients -->
         <div class="iq-clients">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                     <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="false" data-items="5" data-items-laptop="4" data-items-tab="3" data-items-mobile="2" data-items-mobile-sm="1" data-margin="30">
                        <div class="item">
                           <div class="clients-box text-center">
                              <img class="img-fluid client-img" src="images/clients/01.png" alt="#">
                           </div>
                        </div>
                        <div class="item">
                           <div class="clients-box text-center">
                              <img class="img-fluid client-img" src="images/clients/02.png" alt="#">
                           </div>
                        </div>
                        <div class="item">
                           <div class="clients-box text-center">
                              <img class="img-fluid client-img" src="images/clients/03.png" alt="#">
                           </div>
                        </div>
                        <div class="item">
                           <div class="clients-box text-center">
                              <img class="img-fluid client-img" src="images/clients/04.png" alt="#">
                           </div>
                        </div>
                        <div class="item">
                           <div class="clients-box text-center">
                              <img class="img-fluid client-img" src="images/clients/05.png" alt="#">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Our Clients End-->
      </div>
      <!-- Main-Content End -->
      <!-- Footer Start -->
      <footer class="main-footer blue-bg">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="footer-logo">
              <img class="img-fluid logo" src="images/logo-white.png" alt="image">
                  </div>
               </div>
            </div>
            <div class="iq-spacing">
               <div class="row">
                  <div class="col-lg-6 col-md-6">
                     <ul class="menu">
                        <li><a href="index.html">Home</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="technology.html">Technology</a></li>
                <li><a href="blog-details.html">Blog</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
                     </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <ul class="social-icon">
                        <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a> </li>
                      <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                      <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright-footer">
               <div class="row">
                  <div class="col-lg-6 col-md-6">
                     <ul class="iq-contact">
                        <li>
                           <a href="tel:+0123456789">+0 123 456 789</a>
                        </li>
                        <li>
                           <a href="mailto:support@vizion.com">mail@viziondummy.com</a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <span class="copyright">Copyrights 2018 © vizion</span>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer End -->
   <!-- back-to-top -->
      <div id="back-to-top">
         <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
      </div>
      <!-- back-to-top End -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="js/jquery-3.3.1.min.js"></script>
          <!-- popper -->
          <script src="js/popper.min.js"></script>
          <!-- bootstrap -->
          <script src="js/bootstrap.min.js"></script>
          <!-- Appear JavaScript -->
          <script src="js/appear.js"></script>
          <!-- Magnific Popup JavaScript -->
          <script src="js/jquery.magnific-popup.min.js"></script>
          <!-- Owl Carousel -->
          <script src="js/owl.carousel.min.js"></script>
          <!-- Retina JavaScript -->
          <script src="js/retina.min.js"></script>
          <!-- jquery countdown -->
          <script src="js/countdown.js"></script>
          <!-- Wow -->
          <script src="js/wow.min.js"></script>
          <!-- Custom JavaScript -->
          <script src="js/custom.js"></script>
   </body>
</html>