<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>vizion-AI|ML-Health-Care Responsive</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
  </head>
  <body >
    <!-- loading -->
    <div id="loading">
      <div id="loading-center">
        <img src="images/loader.gif" alt="loder">
      </div>
    </div>
    <!-- loading End -->
    <!-- Header-->
    <header id="header" class="home position main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light">
              <!-- <div class="header_logo"> -->
                <a class="navbar-brand" href="index.html">
                  <img class="img-fluid logo" src="images/logo.png" alt="image">
                </a>
              <!-- </div> -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about-us.html">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="technology.html">Technology</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Blog
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="one-column-blog.html">One Column Blog</a>
                      <a class="dropdown-item" href="two-column-blog.html">Two Column Blog</a>
                      <a class="dropdown-item" href="three-column-blog.html">Three Column Blog</a>
                      <a class="dropdown-item" href="left-sidebar-blog.html">Left Sidebar Blog</a>
                      <a class="dropdown-item" href="right-sidebar-blog.html">Right Sidebar Blog</a>
                      <a class="dropdown-item" href="blog-details.html">Blog Details</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Pages
                    </a>
                    <div class="dropdown-menu ml-dropdown" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="404.html">Error 404</a>
                      <a class="dropdown-item" href="comingsoon.html">Coming Soon</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="contact-us.html">Contact Us</a>
                  </li>
                </ul>
              </div>
              <div class="sub-main">
                <a class="button btn-hdr" href="#">Appointment</a>
              </div>
              
            </nav>
           
          </div>
        </div>
      </div>
    </header>
    <!-- Header-->
    <!-- Breadcrumb Start -->
    <section class="iq-breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 mb-4 mb-lg-0">
            <h3 class="title">Contact Us</h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                <li class="breadcrumb-item active">Contact Us</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb End -->
    <!-- Main-Content Start -->
    <div class="main-content">
      <section class="grey-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <form  class="contact-us" id="contact" method="post">
                <div class="section-title mb-0 mt-0 text-left">
                  <h3 class="title mb-3">Get In Touch With Us </h3>
                  <p class="mb-5">To generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc</p>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Your Name (required)<br>
                      <span class="form-control-wrap your-name">
                        <input type="text" name="name" Placeholder="Your Name" class="form-control text" aria-required="true" aria-invalid="false"></span>
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label>Your Email (required)<br>
                        <span class="form-control-wrap your-email">
                          <input type="email" name="email" Placeholder="Email" class="form-control text email" aria-required="true" aria-invalid="false"></span>
                        </label>
                      </div>
                      <div class="col-xl-12">
                        <label>Subject<br>
                          <span class="form-control-wrap your-subject">
                            <input type="text" name="subject" Placeholder="Subject" class="form-control text" aria-invalid="false"></span>
                          </label>
                        </div>
                        <div class="col-xl-12">
                          <label>Your Message<br>
                            <span class="form-control-wrap your-message">
                            <textarea name="message" Placeholder="Message" class="form-control textarea" aria-invalid="false"></textarea></span>
                          </label>
                        </div>
                        <div class="col-xl-12">
                          <button id="submit" name="submit" type="submit" value="Send" class="button btn-blue" >Send message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mt-lg-0">
                    <div class="contact-info">
                      <div class="day-timing mb-4">
                        <h4 class="mb-3">Opening Hours</h4>
                        <div class="iq-contact-box media mb-2">
                          <p class="mb-0 mr-3">Monday-Friday</p>
                          <div class="contact-box media-body">
                            <span>10:00 - 18:00</span>
                          </div>
                        </div>
                        <div class="iq-contact-box media mb-2">
                          <p class="mb-0 mr-5">Saturday
                          </p>
                          <div class="contact-box media-body">
                            <span>10:00 - 14:00</span>
                          </div>
                        </div>
                        <div class="iq-contact-box media mb-2">
                          <p class="mb-0 mr-5">
                            sunday</p>
                            <div class="contact-box media-body">
                              <span>closed
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="iq-contact-box mb-4">
                          <h4 class="mb-3">Contact Info</h4>
                          <div class="contact-box">
                            <p class="mb-0">Phone: +123456789</p>
                            <p class="mb-0">Fax: (+00) 12345</p>
                            <span>Email: vizion124@gmail.com</span>
                          </div>
                        </div>
                        <div class="iq-contact-box ">
                          <h4 class="mb-3">Office Address</h4>
                          <div class="contact-box ">
                            <p>737 Cypress St.
                              Port Jefferson Station, NY 1177659 Hilltop St.
                            Lorton, VA 22079</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div class="our-map">
                <div class="container-fluid overflow-h p-0">
                  <div class="row">
                    <div class="col-lg-12">
                      <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.840289118572!2d144.95373631550405!3d-37.81720974201396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1543402448828"  allowfullscreen=""></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Main-Content End -->
            <!-- Footer Start -->
            <footer class="main-footer blue-bg">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="footer-logo ">
                      <img class="img-fluid logo" src="images/logo-white.png" alt="image">
                    </div>
                  </div>
                </div>
                <div class="iq-spacing">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <ul class="menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="technology.html">Technology</a></li>
                        <li><a href="blog-details.html">Blog</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <ul class="social-icon">
                        <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a> </li>
                      <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                      <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="copyright-footer">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <ul class="iq-contact">
                        <li>
                          <a href="tel:+0123456789">+0 123 456 789</a>
                        </li>
                        <li>
                          <a href="mailto:support@vizion.com">mail@viziondummy.com</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <span class="copyright">Copyrights 2018 © vizion</span>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
            <!-- Footer End -->
            <!-- back-to-top -->
            <div id="back-to-top">
              <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
            </div>
            <!-- back-to-top End -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="js/jquery-3.3.1.min.js"></script>
          <!-- popper -->
          <script src="js/popper.min.js"></script>
          <!-- bootstrap -->
          <script src="js/bootstrap.min.js"></script>
          <!-- Appear JavaScript -->
          <script src="js/appear.js"></script>
          <!-- Magnific Popup JavaScript -->
          <script src="js/jquery.magnific-popup.min.js"></script>
          <!-- Owl Carousel -->
          <script src="js/owl.carousel.min.js"></script>
          <!-- Retina JavaScript -->
          <script src="js/retina.min.js"></script>
          <!-- jquery countdown -->
          <script src="js/countdown.js"></script>
          <!-- Wow -->
          <script src="js/wow.min.js"></script>
          <!-- Custom JavaScript -->
          <script src="js/custom.js"></script>
          </body>
        </html>