<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>vizion-AI|ML-Health-Care Responsive</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
   </head>
   <body >
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <img src="images/loader.gif" alt="loder">
         </div>
      </div>
      <!-- loading End -->
      <!-- Header-->
    <header id="header" class="home position main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light">
              <!-- <div class="header_logo"> -->
                <a class="navbar-brand" href="index.html">
                  <img class="img-fluid logo" src="images/logo.png" alt="image">
                </a>
              <!-- </div> -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link " href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about-us.html">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="technology.html">Technology</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Blog
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item active" href="one-column-blog.html">One Column Blog</a>
                      <a class="dropdown-item" href="two-column-blog.html">Two Column Blog</a>
                      <a class="dropdown-item" href="three-column-blog.html">Three Column Blog</a>
                      <a class="dropdown-item" href="left-sidebar-blog.html">Left Sidebar Blog</a>
                      <a class="dropdown-item" href="right-sidebar-blog.html">Right Sidebar Blog</a>
                      <a class="dropdown-item" href="blog-details.html">Blog Details</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Pages
                    </a>
                    <div class="dropdown-menu ml-dropdown" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="404.html">Error 404</a>
                      <a class="dropdown-item" href="comingsoon.html">Coming Soon</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">Contact Us</a>
                  </li>
                </ul>
              </div>
              <div class="sub-main">
                <a class="button btn-hdr" href="#">Appointment</a>
              </div>
              
            </nav>
           
          </div>
        </div>
      </div>
    </header>
    <!-- Header-->
      <!-- Breadcrumb Start -->
      <section class="iq-breadcrumb">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 mb-4 mb-lg-0">
                  <h3 class="title">One Column Blog</h3>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                        <li class="breadcrumb-item active">One Column Blog</li>
                     </ol>
                  </nav>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb End -->
      <!-- Main-Content Start -->
      <div class="main-content">
         <!-- Our Blog Start -->
         <section id="our-blog" class="blog has-post-thumbnail">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                     <div class="iq-blog-box">
                              <div class="iq-blog-image clearfix">
                                 <img class="img-responsive center-block" src="images/blog/01.jpg" alt="#">
                              </div>
                              <div class="iq-blog-detail">
                                 <div class="iq-blog-meta">
                                    <ul class="list-inline">
                                       <li><a href="javascript:void(0)"><i class="fas fa-calendar-alt"></i>27 April, 2019</a></li>
                                       
                                    </ul>
                                 </div>
                                 <div class="blog-title">
                                    <a href="blog-details.html">
                                       <h5 >Letraset Sheets Training
                                       </h5>
                                    </a>
                                 </div>
                                 <div class="blog-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                 </div>
                              </div>
                              <div class="blog-button">
                                 <a href="javascript:void(0)" class="pull-left  iq-comment"><i class="far fa-comment"></i> 10 Comments</a>
                                 <a href="javascript:void(0)" class="pull-right iq-likes"><i class="far fa-heart"></i> 15 Likes</a>
                              </div>
                              
                           </div>
                           <div class="iq-blog-box mt-5">
                              <div class="iq-blog-image clearfix">
                                 <img class="img-responsive center-block" src="images/blog/02.jpg" alt="#">
                              </div>
                              <div class="iq-blog-detail">
                                 <div class="iq-blog-meta">
                                    <ul class="list-inline">
                                       <li><a href="javascript:void(0)"><i class="fas fa-calendar-alt"></i>12 July, 2019</a></li>
                                       
                                    </ul>
                                 </div>
                                 <div class="blog-title">
                                    <a href="blog-details.html">
                                       <h5 >Letraset Sheets Training
                                       </h5>
                                    </a>
                                 </div>
                                 <div class="blog-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                 </div>
                              </div>
                              <div class="blog-button">
                                 <a href="javascript:void(0)" class="pull-left  iq-comment"><i class="far fa-comment"></i> 10 Comments</a>
                                 <a href="javascript:void(0)" class="pull-right iq-likes"><i class="far fa-heart"></i> 15 Likes</a>
                              </div>
                           </div>
                           <div class="iq-blog-box mt-5">
                              <div class="iq-blog-image clearfix">
                                 <img class="img-responsive center-block" src="images/blog/03.jpg" alt="#">
                              </div>
                              <div class="iq-blog-detail">
                                 <div class="iq-blog-meta">
                                    <ul class="list-inline">
                                       <li><a href="javascript:void(0)"><i class="fas fa-calendar-alt"></i>06 December, 2018</a></li>
                                       
                                    </ul>
                                 </div>
                                 <div class="blog-title">
                                    <a href="blog-details.html">
                                       <h5 >Letraset Sheets Training
                                       </h5>
                                    </a>
                                 </div>
                                 <div class="blog-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                 </div>
                              </div>
                              <div class="blog-button">
                                 <a href="javascript:void(0)" class="pull-left  iq-comment"><i class="far fa-comment"></i> 10 Comments</a>
                                 <a href="javascript:void(0)" class="pull-right iq-likes"><i class="far fa-heart"></i> 15 Likes</a>
                              </div>
                           </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
                     <ul class="page-numbers">
                        <li><span aria-current="page" class="page-numbers current">1</span></li>
                        <li><a class="page-numbers" href="#">2</a></li>
                        <li><a class="next page-numbers" href="#">Next page</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </section>
         <!--Our Blog End -->
      </div>
      <!-- Main-Content End -->
      <!-- Footer Start -->
      <footer class="main-footer blue-bg">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="footer-logo">
              <img class="img-fluid logo" src="images/logo-white.png" alt="image">
                  </div>
               </div>
            </div>
            <div class="iq-spacing">
               <div class="row">
                  <div class="col-lg-6 col-md-6">
                     <ul class="menu">
                        <li><a href="index.html">Home</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="technology.html">Technology</a></li>
                <li><a href="blog-details.html">Blog</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
                     </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <ul class="social-icon">
                        <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a> </li>
                      <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                      <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright-footer">
               <div class="row">
                  <div class="col-lg-6 col-md-6">
                     <ul class="iq-contact">
                        <li>
                           <a href="tel:+0123456789">+0 123 456 789</a>
                        </li>
                        <li>
                           <a href="mailto:support@vizion.com">mail@viziondummy.com</a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <span class="copyright">Copyrights 2024 © kajande</span>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer End -->
   <!-- back-to-top -->
      <div id="back-to-top">
         <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
      </div>
      <!-- back-to-top End -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="js/jquery-3.3.1.min.js"></script>
          <!-- popper -->
          <script src="js/popper.min.js"></script>
          <!-- bootstrap -->
          <script src="js/bootstrap.min.js"></script>
          <!-- Appear JavaScript -->
          <script src="js/appear.js"></script>
          <!-- Magnific Popup JavaScript -->
          <script src="js/jquery.magnific-popup.min.js"></script>
          <!-- Owl Carousel -->
          <script src="js/owl.carousel.min.js"></script>
          <!-- Retina JavaScript -->
          <script src="js/retina.min.js"></script>
          <!-- jquery countdown -->
          <script src="js/countdown.js"></script>
          <!-- Wow -->
          <script src="js/wow.min.js"></script>
          <!-- Custom JavaScript -->
          <script src="js/custom.js"></script>
   </body>
</html>