<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>vizion-AI|ML-Health-Care Responsive</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
   </head>
   <body >
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <img src="images/loader.gif" alt="loder">
         </div>
      </div>
      <!-- loading End -->
     <!-- Header-->
    <header id="header" class="home position main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light">
              <!-- <div class="header_logo"> -->
                <a class="navbar-brand" href="index.html">
                  <img class="img-fluid logo" src="images/logo.png" alt="image">
                </a>
              <!-- </div> -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link " href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about-us.html">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="technology.html">Technology</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Blog
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="one-column-blog.html">One Column Blog</a>
                      <a class="dropdown-item" href="two-column-blog.html">Two Column Blog</a>
                      <a class="dropdown-item" href="three-column-blog.html">Three Column Blog</a>
                      <a class="dropdown-item" href="left-sidebar-blog.html">Left Sidebar Blog</a>
                      <a class="dropdown-item" href="right-sidebar-blog.html">Right Sidebar Blog</a>
                      <a class="dropdown-item" href="blog-details.html">Blog Details</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Pages
                    </a>
                    <div class="dropdown-menu ml-dropdown" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="404.html">Error 404</a>
                      <a class="dropdown-item" href="comingsoon.html">Coming Soon</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">Contact Us</a>
                  </li>
                </ul>
              </div>
              <div class="sub-main">
                <a class="button btn-hdr" href="#">Appointment</a>
              </div>
              
            </nav>
           
          </div>
        </div>
      </div>
    </header>
    <!-- Header-->
      <!-- Breadcrumb Start -->
      <section class="iq-breadcrumb">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 mb-4 mb-lg-0">
                  <h3 class="title">Technology</h3>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                        <li class="breadcrumb-item active">Technology</li>
                     </ol>
                  </nav>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb End -->
      <!-- Main-Content Start -->
      <div class="main-content">
         <section class="iq-technology-left">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 align-self-center">
                     <img class="img-fluid wow fadeInLeft" src="images/technology/01.jpg" alt="images">
                  </div>
                  <div class="col-lg-6 mt-5 mt-lg-0">
                     <div class="section-title mb-0 text-left">
                        <h4 class="title mb-2">Management & Discovery</h4>
                        <p class="mb-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                     </div>
                     <div class="description">
                        <ul class="">
                           <li>It is a long established fact that a reader will be distracted by the content of a page when looking at its layout.</li>
                           <li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
                           <li>Nor again is there anyone who loves or pursues or desires to obtain pain of itself</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="iq-technology-right ">
            <div class="container">
               <div class="row flex-row-reverse">
                  <div class="col-lg-6 align-self-center">
                     <img class="img-fluid wow fadeInRight" src="images/technology/02.jpg" alt="images">
                  </div>
                  <div class="col-lg-6 mt-5 mt-lg-0">
                     <div class="section-title mb-0 text-left ">
                        <h4 class="title  mb-3">Processing & Analysing</h4>
                        <p class="mb-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                     </div>
                     <div class="description">
                        <ul>
                           <li>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</li>
                           <li>It will frequently occur that pleasures have to be repudiated and annoyances accepted. </li>
                           <li>Nam libero tempore, cum soluta nobis est eligendi optio cumque quo minus id quod maxime placeat facere possimus</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>

         </section>
         <section class="iq-technology-left ">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 align-self-center">
                     <img class="img-fluid wow fadeInLeft" src="images/technology/03.jpg" alt="images">
                  </div>
                  <div class="col-lg-6 mt-5 mt-lg-0">
                     <div class="section-title mb-0 text-left ">
                        <h4 class="title  mb-3">Native AI Support</h4>
                        <p class="mb-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                     </div>
                     <div class="description">
                        <ul class="">
                           <li>It is a long established fact that a reader will be distracted by the content of a page when looking at its layout.</li>
                           <li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
                           <li>Nor again is there anyone who loves or pursues or desires to obtain pain of itself</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="iq-technology-right ">
            <div class="container">
               <div class="row flex-row-reverse">
                  <div class="col-lg-6 align-self-center">
                     <img class="img-fluid wow fadeInRight" src="images/technology/04.jpg" alt="images">
                  </div>
                  <div class="col-lg-6 mt-5 mt-lg-0">
                     <div class="section-title mb-0 text-left ">
                        <h4 class="title  mb-3">Annotation & Verification</h4>
                        <p class="mb-4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                     </div>
                     <div class="description">
                        <ul>
                           <li>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</li>
                           <li>It will frequently occur that pleasures have to be repudiated and annoyances accepted. </li>
                           <li>Nam libero tempore, cum soluta nobis est eligendi optio cumque quo minus id quod maxime placeat facere possimus</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
   
         </section>
         <section class="iq-technology-left ">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 align-self-center">
                     <img class="img-fluid wow fadeInLeft" src="images/technology/01.jpg" alt="images">
                  </div>
                  <div class="col-lg-6 mt-5 mt-lg-0">
                     <div class="section-title mb-0 text-left">
                        <h4 class="title mb-2">Native AI Support</h4>
                        <p class="mb-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                     </div>
                     <div class="description">
                        <ul class="">
                           <li>It is a long established fact that a reader will be distracted by the content of a page when looking at its layout.</li>
                           <li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li>
                           <li>Nor again is there anyone who loves or pursues or desires to obtain pain of itself</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="iq-technology-right ">
            <div class="container">
               <div class="row flex-row-reverse">
                  <div class="col-lg-6 align-self-center">
                     <img class="img-fluid wow fadeInRight" src="images/technology/03.jpg" alt="images">
                  </div>
                  <div class="col-lg-6 mt-5 mt-lg-0">
                     <div class="section-title mb-0 text-left ">
                        <h4 class="title  mb-3">Insightful Analysis </h4>
                        <p class="mb-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                     </div>
                     <div class="description">
                        <ul>
                           <li>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</li>
                           <li>It will frequently occur that pleasures have to be repudiated and annoyances accepted. </li>
                           <li>Nam libero tempore, cum soluta nobis est eligendi optio cumque quo minus id quod maxime placeat facere possimus</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <section class="iq-Infrastructure">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <h3 class="text-white mb-2">HPC Infrastructure: AI at Scale</h3>
                     <p class="text-white">With our AI-Ready Infrastructure's processing power of 10 petabytes, we can operationalize our data and algorithms at large scale. Our techniques have been validated against the world's largest datasets in pathology.</p>
                  </div>
               </div>
            </div>
         </section>

         <!-- Vedio Start  -->
         <div class="iq-blue-video gray-bg ">
            <div class="container">
               <div class="row">
                  <div class="set-video">
                  <div class="col-lg-12 col-md-12 text-center">
                     <div class="iq-asked-img position-relative">
                        <img class="img-fluid" src="images/technology/07.jpg" alt="#">
                     </div>
                     <div class="play-video-two">
                        <a href="https://www.youtube.com/watch?v=0O2aH4XLbto" class="iq-video-two popup-youtube"><i class="ion-play"></i></a>
                        <div class="iq-waves">
                           <div class="waves wave-1"></div>
                           <div class="waves wave-2"></div>
                           <div class="waves wave-3"></div>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
            </div>
         </div>
         <!-- vedio End -->

         <!-- Latest Blog Post -->
         <section id="blog" class=" white-bg iq-blog">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="section-title">
                        <span>Vizion Latest Blog </span>
                        <h2 class="title">The Point of Using Lorem Ipsum</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                     <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30">
                        <div class="item">
                           <div class="iq-blog-box">
                              <div class="iq-blog-image clearfix">
                                 <img class="img-responsive center-block" src="images/blog/01.jpg" alt="#">
                              </div>
                              <div class="iq-blog-detail">
                                 <div class="iq-blog-meta">
                                    <ul class="list-inline">
                                       <li><a href="javascript:void(0)"><i class="fas fa-calendar-alt"></i>27 April, 2019</a></li>
                                       
                                    </ul>
                                 </div>
                                 <div class="blog-title">
                                    <a href="blog-details.html">
                                       <h5 >Letraset Sheets Training
                                       </h5>
                                    </a>
                                 </div>
                                 <div class="blog-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                 </div>
                              </div>
                              <div class="blog-button">
                                 <a href="javascript:void(0)" class="pull-left  iq-comment"><i class="far fa-comment"></i> 10 Comments</a>
                                 <a href="javascript:void(0)" class="pull-right iq-likes"><i class="far fa-heart"></i> 15 Likes</a>
                              </div>
                              
                           </div>
                        </div>
                        <div class="item">
                           <div class="iq-blog-box">
                              <div class="iq-blog-image clearfix">
                                 <img class="img-responsive center-block" src="images/blog/02.jpg" alt="#">
                              </div>
                              <div class="iq-blog-detail">
                                 <div class="iq-blog-meta">
                                    <ul class="list-inline">
                                       <li><a href="javascript:void(0)"><i class="fas fa-calendar-alt"></i>12 July, 2019</a></li>
                                       
                                    </ul>
                                 </div>
                                 <div class="blog-title">
                                    <a href="blog-details.html">
                                       <h5 >Letraset Sheets Training
                                       </h5>
                                    </a>
                                 </div>
                                 <div class="blog-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                 </div>
                              </div>
                              <div class="blog-button">
                                 <a href="javascript:void(0)" class="pull-left  iq-comment"><i class="far fa-comment"></i> 10 Comments</a>
                                 <a href="javascript:void(0)" class="pull-right iq-likes"><i class="far fa-heart"></i> 15 Likes</a>
                              </div>                 
                           </div>
                        </div>
                        <div class="item">
                           <div class="iq-blog-box">
                              <div class="iq-blog-image clearfix">
                                 <img class="img-responsive center-block" src="images/blog/03.jpg" alt="#">
                              </div>
                              <div class="iq-blog-detail">
                                 <div class="iq-blog-meta">
                                    <ul class="list-inline">
                                       <li><a href="javascript:void(0)"><i class="fas fa-calendar-alt"></i>06 December, 2018</a></li>
                                       
                                    </ul>
                                 </div>
                                 <div class="blog-title">
                                    <a href="blog-details.html">
                                       <h5 >Letraset Sheets Training
                                       </h5>
                                    </a>
                                 </div>
                                 <div class="blog-content">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                 </div>
                              </div>
                              <div class="blog-button">
                                 <a href="javascript:void(0)" class="pull-left  iq-comment"><i class="far fa-comment"></i> 10 Comments</a>
                                 <a href="javascript:void(0)" class="pull-right iq-likes"><i class="far fa-heart"></i> 15 Likes</a>
                              </div>          
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- Latest Blog Post END -->

      </div>
      <!-- Main-Content End -->
      <!-- Footer Start -->
      <footer class="main-footer blue-bg">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="footer-logo ">
              <img class="img-fluid logo" src="images/logo-white.png" alt="image">
                  </div>
               </div>
            </div>
            <div class="iq-spacing">
               <div class="row">
                  <div class="col-lg-6 col-md-6">
                     <ul class="menu">
                        <li><a href="index.html">Home</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="technology.html">Technology</a></li>
                <li><a href="blog-details.html">Blog</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
                     </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <ul class="social-icon">
                        <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a> </li>
                      <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                      <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright-footer">
               <div class="row">
                  <div class="col-lg-6 col-md-6">
                     <ul class="iq-contact">
                        <li>
                           <a href="tel:+0123456789">+0 123 456 789</a>
                        </li>
                        <li>
                           <a href="mailto:support@vizion.com">mail@viziondummy.com</a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <span class="copyright">Copyrights 2018 © vizion</span>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer End -->

   <!-- Optional JavaScript -->
   <!-- jQuery first -->
          <script src="js/jquery-3.3.1.min.js"></script>
          <!-- popper -->
          <script src="js/popper.min.js"></script>
          <!-- bootstrap -->
          <script src="js/bootstrap.min.js"></script>
          <!-- Appear JavaScript -->
          <script src="js/appear.js"></script>
          <!-- Magnific Popup JavaScript -->
          <script src="js/jquery.magnific-popup.min.js"></script>
          <!-- Owl Carousel -->
          <script src="js/owl.carousel.min.js"></script>
          <!-- Retina JavaScript -->
          <script src="js/retina.min.js"></script>
          <!-- jquery countdown -->
          <script src="js/countdown.js"></script>
          <!-- Wow -->
          <script src="js/wow.min.js"></script>
          <!-- Custom JavaScript -->
          <script src="js/custom.js"></script>
</body>
</html>