<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vizion -Al|ML-Nlp Responsive</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <!-- loading -->
    <div id="loading">
        <div id="loading-center">
            <img src="images/loader.gif" alt="loder">
      </div>
        </div>
        <!-- loading End -->
        <!--=================================
    MAIN CONTENT -->
        <div class="main-content">
            <!--=================================
      Error -->
            <div class="error-box mt-5 pt-5 mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="error text-center">
                                <img src="images/error-404.png" class="img-fluid" alt="image"><br>
                                <a href="index.html" class="button mt-5 mr-2">Go to Home Page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--=================================
      Error -->
        </div>
        <!--=================================
    MAIN CONTENT -->
        <!-- Optional JavaScript -->
    <!-- jQuery first -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- popper -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Modernizr JavaScript -->
    <script src="js/modernizr.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Circle -->
    <script src="js/circle.js"></script>
    <!-- main -->
    <script src="js/main.js"></script>
      <!-- Fullpage Scroll -->
    <script src="js/fullpage.min.js"></script>    
    <!-- Retina JavaScript -->
    <script src="js/retina.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="js/custom.js"></script>
</body>

</html>

