<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Vizion -Al|ML-Nlp Responsive</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
   </head>
   <body>
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <img src="images/loader.gif" alt="loder">
         </div>
      </div>
      <!-- loading End -->
      <!-- Header-->
   <header id="header-fullpage" class="home">
      <div class="container-fluid">
         <div class="row align-items-center no-gutters">
            <div class="col-lg-10">
               <nav class="navbar navbar-expand-lg navbar-light">
                  <a class="navbar-brand" href="index.html">
                  <img class="logo" src="images/logo.png" alt="image">
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                     <ul class="navbar-nav justify-content-end  mr-auto w-100">
                        <li class="nav-item">
                           <a class="nav-link " href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="about-us.html">About Us</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="solution.html">Solution</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link " href="technology.html">Technology</a>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Pages
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item " href="blog.html">Blog</a>
                              <a class="dropdown-item active" href="blog-details.html">Blog Details</a>
                              <a class="dropdown-item" href="404-error.html">404 Error</a>
                              <a class="dropdown-item" href="comingsoon.html">Coming Soon</a>
                              <a class="dropdown-item" href="login.html">Login</a>
                              <a class="dropdown-item" href="register.html">Register</a>
                              <a class="dropdown-item" href="privacy-policy.html">Privacy Policy</a>
                           </div>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
      </div>
   </header>
 <!-- Header-->
   <!-- Breadcrumb Start -->
   <section class="iq-breadcrumb">
      <div class="container">
         <div class="row text-center">
            <div class="col-lg-12 col-md-12 mb-4 mb-lg-0">
               <h3 class="title">Blog-details</h3>
               <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                     <li class="breadcrumb-item active">Blog-details</li>
                  </ol>
               </nav>
            </div>
         </div>
      </div>
   </section>
   <!-- Breadcrumb End -->
      <!-- About End -->
      <!--=================================
         MAIN CONTENT -->
      <div class="main-content" >
         <!--=================================
            Blog -->
         <section class="iq-blog-detailbox pt-0">
             <div class="container">
               <div class="row">
            <div class="blogdetailbox">
              <div class="row"   >

                  
                     <div class="col-lg-4 col-md-12 col-sm-12 order-lg-2 order-2 wow fadeInUp"  data-wow-duration="1.0s">
                        <div class="iq-post-sidebar iq-rmt-30 right-side-blog">
                           <div class="iq-sidebar-widget search-box " data-wow-duration="1.0s">
                              <div class="iq-widget-search"> <i class="ion-ios-search"></i>
                                 <input type="search" placeholder="Search" class="form-control placeholder">
                              </div>
                           </div>
                           <div class="iq-sidebar-widget  iq-category">
                              <h5>Categories</h5>
                              <ul class="iq-category list-inline mt-4">
                                 <li class="mt-3"><a href="#">All</a></li>
                                 <li class="mt-3"><a href="#">Technology</a></li>
                                 <li class="mt-3"><a href="#">Ecommerce</a></li>
                                 <li class="mt-3"><a href="#">Business</a></li>
                                 <li class="mt-3"><a href="#">Marketing</a></li>
                              </ul>
                           </div>
                           <div class="iq-sidebar-widget " >
                              <h5>Recent Post</h5>
                              <div class="iq-widget-menu mt-4">
                                 <div class="list-inline iq-widget-menu">
                                    <ul class="iq-post">
                                       <li class="mt-3">
                                          <div class="post-img"> <img src="images/blog/blog-detail/01.jpg" alt="#"> </div>
                                          <div class="post-blog">
                                             <a href="#">Consectetur adipiscing elit</a>
                                             <div class="blog-box">
                                                <ul>
                                                   <li>1 March 2019</li>
                                                   <li>By: <a href="#">Admin</a></li>
                                                </ul>
                                             </div>
                                          </div>
                                       </li>
                                       <li class="mt-3">
                                          <div class="post-img"> <img src="images/blog/blog-detail/02.jpg" alt="#"> </div>
                                          <div class="post-blog">
                                             <a href="#">Eiusmod tempor incididunt</a>
                                             <div class="blog-box">
                                                <ul>
                                                   <li>1 March 2019</li>
                                                   <li>By: <a href="#">Admin</a></li>
                                                </ul>
                                             </div>
                                          </div>
                                       </li>
                                       <li class="mt-3">
                                          <div class="post-img"> <img src="images/blog/blog-detail/03.jpg" alt="#"> </div>
                                          <div class="post-blog">
                                             <a href="#">Ut enim ad minim</a>
                                             <div class="blog-box">
                                                <ul>
                                                   <li>1 March 2019</li>
                                                   <li>By: <a href="#">Admin</a></li>
                                                </ul>
                                             </div>
                                          </div>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="iq-sidebar-widget " >
                              <h5>Tags</h5>
                              <ul class="iq-tag list-inline mt-4">
                                 <li class="mt-3"><a href="#">Technology</a></li>
                                 <li class="mt-3"><a href="#">Ecomorce</a></li>
                                 <li class="mt-3"><a href="#">Business</a></li>
                                 <li class="mt-3"><a href="#">Marketing</a></li>
                                 <li class="mt-3"><a href="#">Agency</a></li>
                                 <li class="mt-3"><a href="#">Creative</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-8 col-md-12 col-sm-12 order-lg-1 order-2 wow fadeInUp "  data-wow-duration="1.0s">
                        <div class="iq-blogbox">
                           <div class="iq-blog-entry">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="iq-entry-image">
                                       <img class="img-fluid "  src="images/blog/blog-detail/b1.jpg" alt="image">
                                    </div>
                                    <div class="iq-blog-detail mt-5">
                                       <div class="iq-entry-tag " >
                                          <span>Development</span>
                                       </div>
                                       <div class="blog-box">
                                          <ul>
                                             <li>1 March 2019</li>
                                             <li><b class="text-black font-weight-bold">By:</b> <a href="#">Admin</a></li>
                                          </ul>
                                          <ul class="social-box">
                                             <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                             <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                             <li><a href="#"><i class="fab fa-google"></i></a></li>
                                          </ul>
                                       </div>
                                       <div class="iq-entry-title " >
                                          <h5>Established fact that a reader will be</h5>
                                       </div>
                                    </div>
                                    <div class="iq-detail-box mt-4">
                                       <p class=" " ">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                       <div class="special-text">
                                          <i class="fas fa-quote-right"></i>
                                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                       </div>
                                       <p class=" " >Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                       <hr>
                                    </div>
                                    <div class="blog-swiper-container1">
                                       <div class="swiper-wrapper">
                                          <div class="swiper-slide slide1">
                                             <div class="iq-event-info">
                                                <div class="date mb-3">
                                                   <span>Development</span> 1 March 2019
                                                </div>
                                                <h3 class="mb-3 text-white">It is a long established fact that a reader.</h3>
                                                <a class="link-btn white"><i class="fas fa-arrow-right text-dark bg-white"></i> Read More</a>
                                             </div>
                                          </div>
                                          <div class="swiper-slide slide2">
                                             <div class="iq-event-info">
                                                <div class="date mb-3">
                                                   <span>Development</span> 1 March 2019
                                                </div>
                                                <h3 class="mb-3 text-white">It is a long established fact that a reader.</h3>
                                                <a class="link-btn white"><i class="fas fa-arrow-right text-dark bg-white"></i> Read More</a>
                                             </div>
                                          </div>
                                          <div class="swiper-slide slide3">
                                             <div class="iq-event-info">
                                                <div class="date mb-3">
                                                   <span>Development</span> 1 March 2019
                                                </div>
                                                <h3 class="mb-3 text-white">It is a long established fact that a reader.</h3>
                                                <a class="link-btn white"><i class="fas fa-arrow-right text-dark bg-white"></i> Read More</a>
                                             </div>
                                          </div>
                                          <div class="swiper-slide slide4">
                                             <div class="iq-event-info">
                                                <div class="date mb-3">
                                                   <span>Development</span> 1 March 2019
                                                </div>
                                                <h3 class="mb-3 text-white">It is a long established fact that a reader.</h3>
                                                <a class="link-btn white"><i class="fas fa-arrow-right text-dark bg-white"></i> Read More</a>
                                             </div>
                                          </div>
                                          <div class="swiper-slide slide5">
                                             <div class="iq-event-info">
                                                <div class="date mb-3">
                                                   <span>Development</span> 1 March 2019
                                                </div>
                                                <h3 class="mb-3 text-white">It is a long established fact that a reader.</h3>
                                                <a class="link-btn white"><i class="fas fa-arrow-right text-dark bg-white"></i> Read More</a>
                                             </div>
                                          </div>
                                          <div class="swiper-slide slide6">
                                             <div class="iq-event-info">
                                                <div class="date mb-3">
                                                   <span>Development</span> 1 March 2019
                                                </div>
                                                <h3 class="mb-3 text-white">It is a long established fact that a reader.</h3>
                                                <a class="link-btn white"><i class="fas fa-arrow-right text-dark bg-white"></i> Read More</a>
                                             </div>
                                          </div>
                                          <div class="swiper-slide slide7">
                                             <div class="iq-event-info">
                                                <div class="date mb-3">
                                                   <span>Development</span> 1 March 2019
                                                </div>
                                                <h3 class="mb-3 text-white">It is a long established fact that a reader.</h3>
                                                <a class="link-btn white"><i class="fas fa-arrow-right text-dark bg-white"></i> Read More</a>
                                             </div>
                                          </div>
                                          <div class="swiper-slide slide8">
                                             <div class="iq-event-info">
                                                <div class="date mb-3">
                                                   <span>Development</span> 1 March 2019
                                                </div>
                                                <h3 class="mb-3 text-white">It is a long established fact that a reader.</h3>
                                                <a class="link-btn white"><i class="fas fa-arrow-right text-dark bg-white"></i> Read More</a>
                                             </div>
                                          </div>
                                          <div class="swiper-slide slide9">
                                             <div class="iq-event-info">
                                                <div class="date mb-3">
                                                   <span>Development</span> 1 March 2019
                                                </div>
                                                <h3 class="mb-3 text-white">It is a long established fact that a reader.</h3>
                                                <a class="link-btn white"><i class="fas fa-arrow-right text-dark bg-white"></i> Read More</a>
                                             </div>
                                          </div>
                                          <div class="swiper-slide slide10">
                                             <div class="iq-event-info">
                                                <div class="date mb-3">
                                                   <span>Development</span> 1 March 2019
                                                </div>
                                                <h3 class="mb-3 text-white">It is a long established fact that a reader.</h3>
                                                <a class="link-btn white"><i class="fas fa-arrow-right text-dark bg-white"></i> Read More</a>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- Add Scrollbar -->
                                       <div class="swiper-scrollbar"></div>
                                    </div>
                                    <div class="blog-commentbox">
                                       <div id="comments">
                                          <h3 class="wow fadeInUp mb-5" data-wow-duration="1.0s">3 Comments </h3>
                                          <div class="iq-comment-list">
                                             <div class="media iq-comments-media wow fadeInUp" data-wow-duration="1.0s">
                                                <img class="mr-3" src="images/testomonial/02.jpg" alt="image">
                                                <div class="media-body">
                                                   <h5>Good Quote</h5>
                                                   <p class="mt-3 mb-3 mb-lg-5" >Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                                   <div class="iq-comment-metadata">
                                                      <span>1 March 2019&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>By :</b> <span class="main-color">John Deo</span></span>
                                                      <a href="" class="link-btn float-right"><i class="fas fa-arrow-right "></i>Read More</a>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="ml-3 ml-lg-5 pl-lg-5 media iq-comments-media wow fadeInUp" data-wow-duration="1.0s">
                                                <img class="mr-3" src="images/testomonial/02.jpg" alt="image">
                                                <div class="media-body">
                                                   <h5>Quis Nostrud Exercitation </h5>
                                                   <p class="mt-3 mb-3 mb-lg-5" >Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                                   <div class="iq-comment-metadata">
                                                      <span>1 March 2019 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>By :</b> <span class="main-color">John Deo</span></span>
                                                      <a href="" class="link-btn float-right"><i class="fas fa-arrow-right "></i>Read More</a>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="media iq-comments-media wow fadeInUp" data-wow-duration="1.0s">
                                                <img class="mr-3" src="images/testomonial/02.jpg" alt="image">
                                                <div class="media-body">
                                                   <h5>Good Quote</h5>
                                                   <p class="mt-3 mb-3 mb-lg-5" >Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                                   <div class="iq-comment-metadata">
                                                      <span>1 March 2019 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  /&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>By :</b> <span class="main-color">John Deo</span></span>
                                                      <a href="" class="link-btn float-right"><i class="fas fa-arrow-right "></i>Read More</a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="blog-contact ">
                                          <h3 class="wow fadeInUp mb-5" data-wow-duration="1.0s">Post A Comment</h3>
                                          <form class="iq-contactbox">
                                             <div class="contact-form contact-box">
                                                <div class="row">
                                                   <div class="col-lg-6 col-sm-12">
                                                      <input id="name" type="text" placeholder="Name" name="name">
                                                      <input type="email" placeholder="Email" name="email">
                                                      <input type="text" placeholder="Company Name" name="company">
                                                   </div>
                                                   <div class="col-lg-6 col-sm-12">
                                                      <textarea class="input-message" placeholder="How can we help you?" rows="7" name="message"></textarea>
                                                   </div>
                                                   <div class="col-lg-12 col-sm-12" >   <a href="" class="link-btn"><i class="fas fa-arrow-right "></i>Send Post</a></div>
                                                </div>
                                             </div>
                                          </form>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                        </div>
                  </div>
               </div>
            </div>
         </section>
         <!--=================================
            Blog -->
      </div>
      <!--=================================
         MAIN CONTENT -->
     <!-- Footer start-->
     <footer class="main-footer blue-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="footer-logo ">
              <img class="img-fluid logo" src="images/logo-white.png" alt="image">
            </div>
          </div>
        </div>
        <div class="iq-spacing">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="technology.html">Technology</a></li>
                <li><a href="blog-details.html">Blog</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6">
              <ul class="social-icon">
                <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a> </li>
                <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="copyright-footer">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <ul class="iq-contact">
                <li>
                  <a href="tel:+0123456789">+0 123 456 789</a>
                </li>
                <li>
                  <a href="mailto:support@vizion.com">mail@viziondummy.com</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6">
              <span class="copyright">Copyrights 2018 © vizion</span>
            </div>
          </div>
        </div>
      </div>
    </footer>
   <!-- Footer End-->
      <!-- Optional JavaScript -->
      <!-- jQuery first -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- popper -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Modernizr JavaScript -->
    <script src="js/modernizr.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Circle -->
    <script src="js/circle.js"></script>
    <!-- main -->
    <script src="js/main.js"></script>
      <!-- Fullpage Scroll -->
    <script src="js/fullpage.min.js"></script>    
    <!-- Retina JavaScript -->
    <script src="js/retina.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="js/custom.js"></script>  
 </body>
</html>
