<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vizion -Al|ML-Nlp Responsive</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css" />
    <!-- Typography CSS -->
    <link rel="stylesheet" href="css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
  </head>
  <body data-hijacking="off" data-animation="scaleDown">
    <!-- loading -->
    <div id="loading">
      <div id="loading-center">
        <img src="images/loader.gif" alt="loder">
      </div>
    </div>
    <!-- loading End -->
     <!-- Header-->
   <header id="header-fullpage" class="home">
      <div class="container-fluid">
         <div class="row align-items-center no-gutters">
            <div class="col-lg-10">
               <nav class="navbar navbar-expand-lg navbar-light">
                  <a class="navbar-brand" href="index.html">
                  <img class="logo" src="images/logo.png" alt="image">
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                     <ul class="navbar-nav justify-content-end  mr-auto w-100">
                        <li class="nav-item">
                           <a class="nav-link " href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="about-us.html">About Us</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="solution.html">Solution</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link " href="technology.html">Technology</a>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Pages
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item " href="blog.html">Blog</a>
                              <a class="dropdown-item" href="blog-details.html">Blog Details</a>
                              <a class="dropdown-item" href="404-error.html">404 Error</a>
                              <a class="dropdown-item" href="comingsoon.html">Coming Soon</a>
                              <a class="dropdown-item" href="login.html">Login</a>
                              <a class="dropdown-item" href="register.html">Register</a>
                              <a class="dropdown-item active" href="privacy-policy.html">Privacy Policy</a>
                           </div>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
      </div>
   </header>
 <!-- Header-->
   <!-- Breadcrumb Start -->
   <section class="iq-breadcrumb">
      <div class="container">
         <div class="row text-center">
            <div class="col-lg-12 col-md-12 mb-4 mb-lg-0">
               <h3 class="title">Privacy Policy</h3>
               <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                     <li class="breadcrumb-item active">Privacy Policy</li>
                  </ol>
               </nav>
            </div>
         </div>
      </div>
   </section>
   <!-- Breadcrumb End -->
            <!--=================================
    MAIN CONTENT -->
            <div class="main-content">
                <section class="privacy-policy pt-0">
                    <div class="container">
                        <div class="row">
                            <div class="iq-privacy">
                                <div class="mt-2">
                                    <h4 class="iq-tw-7">Terms of Use - Vizion Installment</h4>
                                    <p>Nulla enim justo, elementum iaculis commodo et, feugiat fermentum quam. In quis lorem tempor, porta nunc a, malesuada dui. Integer venenatis leo sit amet mi tincidunt, sit amet pharetra mauris efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent vestibulum eros vitae magna iaculis.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">General</h4>
                                    <p>Suspendisse eu neque sit amet mi fermentum viverra. Nullam venenatis feugiat odio nec tincidunt. Suspendisse molestie ipsum ac molestie maximus. </p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">Permitted Use and Restrictions</h4>
                                    <p>Sed id tellus orci. Donec congue tellus dignissim molestie fermentum. Duis cursus in mi id cursus. Sed egestas mi quis semper feugiat. Donec laoreet porta velit. Duis eros orci, lacinia a mollis quis, vestibulum ut elit. Sed vitae justo sapien. Duis ultricies ante non tortor sollicitudin, vel mattis lacus venenatis. Nam non tincidunt mauris, a tincidunt diam. Sed pulvinar lorem pellentesque faucibus ornare. Donec eu dui urna. Cras porta porta enim, nec congue tellus hendrerit vitae. Fusce rhoncus vel lorem.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">Your Access to the Site</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">Accounts & Passwords</h4>
                                    <p>Nunc quam dui, aliquam ut lacus non, congue rutrum tortor. Maecenas mi quam, lacinia sed tortor nec, cursus accumsan lorem. Pellentesque a quam non nibh tincidunt congue.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">Security</h4>
                                    <p>Phasellus semper malesuada arcu a posuere. Vestibulum tortor nisi, pellentesque eget nibh tristique, scelerisque bibendum ex. Integer malesuada bibendum ante ut molestie. Praesent sed ex laoreet, cursus justo vel, sodales quam. Nam a odio eu ex pulvinar euismod.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">Unauthorized Use of the Site</h4>
                                    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">No Financial Advice Provided</h4>
                                    <p>Fusce rutrum mauris eros, at iaculis orci vestibulum non. Morbi sit amet blandit tortor. Integer quis nisi eu augue maximus tincidunt ut vel enim. Ut malesuada massa nec sollicitudin dapibus.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">Cookies</h4>
                                    <p>Vestibulum laoreet vehicula eros, et rutrum purus auctor et. Praesent rutrum erat ut nisi hendrerit, vitae dapibus mi blandit. Fusce eu ultricies tortor. Integer sed finibus nulla, nec iaculis ex. Suspendisse lacinia magna sit amet turpis rhoncus, a accumsan ex porttitor. Donec at quam vitae enim maximus accumsan. Curabitur nec posuere turpis. Curabitur a metus gravida, fermentum nisi id, rhoncus nulla. Pellentesque at erat sed nibh tempus mollis. Quisque tempor viverra erat, quis semper orci imperdiet a. Sed eu laoreet lacus, eget bibendum dolor. Praesent luctus justo non molestie rutrum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--=================================
    Main Content -->
 <!-- Footer start-->
 <footer class="main-footer blue-bg">
   <div class="container">
     <div class="row">
       <div class="col-lg-12">
         <div class="footer-logo ">
           <img class="img-fluid logo" src="images/logo-white.png" alt="image">
         </div>
       </div>
     </div>
     <div class="iq-spacing">
       <div class="row">
         <div class="col-lg-6 col-md-6">
           <ul class="menu">
             <li><a href="index.html">Home</a></li>
             <li><a href="about-us.html">About Us</a></li>
             <li><a href="technology.html">Technology</a></li>
             <li><a href="blog-details.html">Blog</a></li>
             <li><a href="contact-us.html">Contact Us</a></li>
           </ul>
         </div>
         <div class="col-lg-6 col-md-6">
           <ul class="social-icon">
             <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a> </li>
             <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
             <li class="d-inline"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
           </ul>
         </div>
       </div>
     </div>
     <div class="copyright-footer">
       <div class="row">
         <div class="col-lg-6 col-md-6">
           <ul class="iq-contact">
             <li>
               <a href="tel:+0123456789">+0 123 456 789</a>
             </li>
             <li>
               <a href="mailto:support@vizion.com">mail@viziondummy.com</a>
             </li>
           </ul>
         </div>
         <div class="col-lg-6 col-md-6">
           <span class="copyright">Copyrights 2018 © vizion</span>
         </div>
       </div>
     </div>
   </div>
 </footer>
<!-- Footer End-->
    <!-- Optional JavaScript -->
    <!-- jQuery first -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- popper -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Modernizr JavaScript -->
    <script src="js/modernizr.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Circle -->
    <script src="js/circle.js"></script>
    <!-- main -->
    <script src="js/main.js"></script>
      <!-- Fullpage Scroll -->
    <script src="js/fullpage.min.js"></script>    
    <!-- Retina JavaScript -->
    <script src="js/retina.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="js/custom.js"></script>  
  </body>
</html>