<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Kajande -Al/ML-Agriculture Responsive</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
   </head>
   <body >
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <img src="images/loader.gif" alt="loder">
         </div>
      </div>
      <!-- loading End -->
      <!-- Header-->
      <header id="header" class="home">
         <div class="container">
            <div class="row align-items-center no-gutters">
               <div class="col-lg-12">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <a class="navbar-brand" href="index.html">
                        <img class="img-fluid logo" src="images/logo-white.png" alt="image">
                     </a>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                           <li class="nav-item">
                              <a class="nav-link" href="index.html">Home</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="about-us.html">About Us</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="services.html">Services</a>
                           </li>
                           <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                 Blog
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <a class="dropdown-item" href="left-sidebar-blog.html">LEFT SIDEBAR BLOG</a>
                                 <a class="dropdown-item" href="right-sidebar-blog.html">RIGHT SIDEBAR BLOG</a>
                                 <a class="dropdown-item active" href="blog-details.html">BLOG DETAILS</a>
                              </div>
                           </li>
                           <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                 Pages
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <a class="dropdown-item" href="technology.html">TECHNOLOGY</a>
                                 <a class="dropdown-item" href="team-details.html">TEAM DETAILS</a>
                                 <a class="dropdown-item" href="partner.html">PARTNER</a>
                                 <a class="dropdown-item" href="404.html">ERROR 404</a>
                                 <a class="dropdown-item" href="coming-soon.html">COMING SOON</a>
                              </div>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="contact-us.html">Contact Us</a>
                           </li>
                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
         </div>
      </header>
      <!-- Header-->

<!-- Breadcrumb Start -->
      <section class="iq-breadcrumb">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 mb-4 mb-lg-0">
                  <h3 class="title">Blog Details</h3>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                        <li class="breadcrumb-item active">Blog Details</li>
                     </ol>
                  </nav>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb End -->
<!-- Main-Content Start -->
<div class="main-content">
<!-- Our Blog Start -->
<section id="our-blog" class="blog has-post-thumbnail">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-4 order-lg-2 order-2">
            <div id="search-2" class="widget widget_search">
               <form method="get" class="search-form">
                  <label>
                     <span class="screen-reader-text">Search for:</span>
                  </label>
                  <input type="search" id="search-form-5cf6041521a93" class="search-field" placeholder="Search &hellip;" value="" name="s" />
                  <button type="submit" class="search-submit"><i class="fa fa-search"></i><span class="screen-reader-text">Search</span></button>
               </form>
            </div>
            <div id="archives-2" class="widget widget_archive">
               <h2 class="widget-title">Archives</h2>
               <ul class="archives">
                  <li><a>May 2019</a></li>
               </ul>
            </div>
            <div class="iq-widget-menu widget">
               <h4 class="footer-title iq-rmt-30">Recent Post</h4>
               <div class="list-inline iq-widget-menu">
                  <ul class="iq-post">
                     <li class="mt-3">
                        <div class="post-img">
                           <img width="150" height="150" src="images/blog/01.jpg" class="img-fluid" alt=""/>
                        </div>
                        <div class="post-blog">
                           <div class="blog-box">
                              <a href="two-column-blog-details.html">Construction industry</a>
                              <ul>
                                 <li><a href="#">May 18, 2019</a></li>
                              </ul>
                           </div>
                        </div>
                     </li>
                     <li class="mt-3">
                        <div class="post-img">
                           <img src="images/blog/02.jpg" class="img-fluid" alt=""/>
                        </div>
                        <div class="post-blog">
                           <div class="blog-box">
                              <a href="two-column-blog-details.html">Life Lack Meaning</a>
                              <ul>
                                 <li><a href="#">May 18, 2019</a></li>
                              </ul>
                           </div>
                        </div>
                     </li>
                     <li class="mt-3">
                        <div class="post-img">
                           <img src="images/blog/03.jpg" class="img-fluid" alt=""/>
                        </div>
                        <div class="post-blog">
                           <div class="blog-box">
                              <a href="two-column-blog-details.html">Content Marketing</a>
                              <ul>
                                 <li><a href="#">May 18, 2019</a></li>
                              </ul>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="widget">
               <h4 class="widget-title iq-rmt-30">Categories</h4>
               <ul class="category">
                  <li><a href="#">Business</a>
               </li>
               <li><a href="#">Design</a>
            </li>
            <li><a href="#">Fashion</a>
         </li>
         <li><a href="#">Photography</a>
      </li>
      <li><a href="#">Technology</a>
   </li>
</ul>
</div>
</div>
<div class="col-lg-8 col-md-8 order-lg-1 order-2">
<div class="iq-blog-box">
<div class="iq-blog-image clearfix">
   <img src="images/blog/03.jpg" class="img-fluid center-block" alt="blogimage0">
</div>
<div class="iq-blog-detail">
   <div class="iq-blog-meta">
      <ul>
         <li class="list-inline-item">
            <a href="#" class="main-color" rel="bookmark">MAY 14, 2019</a>
         </li>
      </ul>
   </div>
   <div class="blog-content">
      <div class="blog-content">
         <h4 class="mb-2">Integer sollicitudin libero quam</h4>
         <p>This live blog allowed people, who may not have been able to make it to the actual event, stay informed and become a part of the discussion even though they were not in attendance. Their blog lets you interact with various industry leaders, while providing their audience with content that is engaging and educational.</p>
         <blockquote class="quote-style">
            <p>Sed vehicula odio sed velit volutpat aliquet. Sed dignissim enim et venenatis.<br>– maxin belly</p>
         </blockquote>
         <ul class="mb-3 ml-3">
            <li>Incidunt vitae quae facere</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Incidunt vitae quae facere</li>
            <li>Tenetur laborum rutrum</li>
         </ul>
         <h4 class="mb-2">The rutrum ullamcorper mattis</h4>
         <p>Content is an essential aspect of any digital marketing campaign. The Content Marketing Institute offers some of the best advice around in terms of how content can help your brand. From industry trends to best practices, their posts offer helpful advice on how to create the best strategies for your business and how your content marketing should play a role in the “bigger picture.</p>
         <p></p><h4 class="mb-2">The stand Lorem Ipsum passage</h4>
         <p>Curabitur pulvinar mi in lacinia convallis. Nulla sagittis urna hendrerit metus maximus luctus. Phasellus ac condimentum lacus. Mauris efficitur ultrices augue ut interdum. Aliquam placerat finibus ultrices. Nam pretium fermentum ante, porta luctus eros sodales et. Ut sollicitudin semper elit, vel efficitur justo ultrices quis. Etiam vel tortor rhoncus, malesuada ligula tempus, pulvinar nisi. Cras mi odio, efficitur pharetra lacinia vel, cursus at dolor.</p>
         <ul class="mb-3 ml-3">
            <li>Lorem ipsum line one</li>
            <li>Incidunt vitae line two</li>
            <li>Lorem ipsum line three</li>
         </ul>
         <h4 class="mb-2">Pellentesque ultriciesdictum</h4>
         <p>Nullam commodo sem id mollis pretium. Duis sed aliquam quam, rutrum placerat massa. Etiam nec hendrerit purus, ut laoreet libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec bibendum cursus mi, in dignissim enim posuere quis. Integer sollicitudin libero quam, id eleifend arcu malesuada vel. Cras justo tortor, mollis eget dapibus in, egestas sed enim. Donec bibendum neque lorem, eget commodo nulla finibus sed. Aliquam erat volutpat. Nullam sed euismod libero, lobortis rutrum urna. Donec et urna tellus.
         </p>
         <h4 class="mb-2"><strong>Lorem ipsum dolor utaliquip</strong></h4>
         <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiatnulla pariatur. Excepteur sintoccaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
      </div>
   </div>
</div>
</div>
<div id="comments" class="comments-area">
<h4 class="comments-title">3 Comment</h4>
<ol class="commentlist">
   <li class="comment">
      <article class="comment-body">
         <div class="iq-comments-media">
            <div class="iq-comment-wrap">
               <div class="iq-comments-photo">
                  <img class="img-fluid" src="images/blog/blog-detail/01.png" alt="#" />
               </div>
               <div class="iq-comments-info">
                  <h5 class="title">admin</h5>
                  <div class="iq-comment-metadata">
                     <a href="#">
                        <p class="mb-0">
                        <i class="fa fa-calendar"></i> May 28, 2019 at 9:15 am </p>
                     </a>
                     
                  </div>
                  <div class="comment-content">
                     <p>As a WordPress developer, whenever you build a new theme, plugin or even if you are testing out new features of WordPress that you might not be familiar with. There’s one task that get’s extremely repetitive, cumbersome and mundane.</p>
                  </div>
               </div>
               <div class="reply">
                  <a href="#">Reply</a>
               </div>
            </div>
         </div>
      </article>
      <ol class="children">
         <li class="comment">
            <article class="comment-body">
               <div class="iq-comments-media">
                  <div class="iq-comment-wrap">
                     <div class="iq-comments-photo">
                        <img class="img-fluid" src="images/blog/blog-detail/02.png" alt="#"  />
                     </div>
                     <div class="iq-comments-info">
                        <h5 class="title">
                        huck                 </h5>
                        <div class="iq-comment-metadata">
                           <a href="#">
                              <p class="mb-0">
                              <i class="fa fa-calendar"></i>
                              May 28, 2019 at 11:12 am </p>
                           </a>
                        </div>
                        <div class="comment-content">
                           <p>Our goal with this post is to help you to alleviate this time-consuming aspect of the development process by covering a list of plugins that help you achieve this goal in just a matter of seconds.</p>
                        </div>
                     </div>
                     <div class="reply">
                        <a href="#">Reply</a>
                     </div>
                  </div>
               </div>
            </article>
            <ol class="children">
               <li class="comment">
                  <article  class="comment-body">
                     <div class="iq-comments-media">
                        <div class="iq-comment-wrap">
                           <div class="iq-comments-photo">
                              <img class="img-fluid" src="images/blog/blog-detail/03.png" alt="#"/>
                           </div>
                           <div class="iq-comments-info">
                              <h5 class="title">
                              ivanka                  </h5>
                              <div class="iq-comment-metadata">
                                 <a href="#">
                                    <p class="mb-0">
                                    <i class="fa fa-calendar"></i>
                                    May 28, 2019 at 11:18 am                        </p>
                                 </a>
                                 </div><!-- .comment-metadata -->
                                 <div class="comment-content">
                                    <p>The usual way people tend to do this is either hire someone on Fiverr, to create all this dummy text or as a WordPress developer you’ll need to perform the task of filling up an empty theme with dummy content yourself.</p>
                                    </div><!-- .comment-content -->
                                    </div><!-- .comment-author -->
                                    <div class="reply">
                                       <a href="#">Reply</a>             </div><!-- .reply -->
                                    </div>
                                 </div>
                                 </article><!-- .comment-body -->
                                 </li><!-- #comment-## -->
                                 </ol><!-- .children -->
                                 </li><!-- #comment-## -->
                                 </ol><!-- .children -->
                                 </li><!-- #comment-## -->
                                 </ol><!-- .commentlist -->
                                 <!--  -->
                                 
                              </div>
                              <div class="title mt-5">
                                 <h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
                                 <p>Your email address will not be published. Required fields are marked *</p>
                              </div>
                              
                              <form class="contact-us mt-3" id="iq-contact-form" method="post">
                                 <div class="row">
                                    <div class="col-xl-12">
                                       <label>Comment<br>
                                          <span class="form-control-wrap your-message">
                                          <textarea name="message" placeholder="Comment" class="form-control textarea" aria-invalid="false"></textarea></span>
                                       </label>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-4">
                                       <label>Your Name<br>
                                          <span class="form-control-wrap your-name">
                                             <input type="text" name="name" placeholder="Your Name" class="form-control text" aria-required="true" aria-invalid="false"></span>
                                          </label>
                                       </div>
                                       <div class="col-md-4">
                                          <label>Your Email<br>
                                             <span class="form-control-wrap your-email">
                                                <input type="email" name="email" placeholder="Email" class="form-control text email" aria-required="true" aria-invalid="false"></span>
                                             </label>
                                          </div>
                                          <div class="col-md-4">
                                             <label>Website<br>
                                                <span class="form-control-wrap your-website">
                                                   <input type="text" name="website" placeholder="website" class="form-control text" aria-invalid="false"></span>
                                                </label>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="col-xl-12">
                                                <button id="submit" name="submit" type="submit" value="Send" class="button btn-green mt-4">Post Comment</button>
                                             </div>
                                          </div>
                                          
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <!--Our Blog End -->
                        </div>
                        <!-- Main-Content End -->
                              <!-- Footer Start -->
      <footer class="main-footer blue-bg">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-6 col-sm-6 mb-5 iq-pr-80">
                  <div class="footer-logo">
                     <a href="#">
                     <img class="img-fluid" src="images/logo-dark.png" alt="Kajande1">
                     </a>
                  </div>
                  <div class="textwidget">
                     <p class="mb-0">It is a long established fact that a reader will be distracted by the readable content.</p>
                  </div>
               </div>
               <div class="col-lg-2 col-md-6 col-sm-6 mb-5">
                  <h4 class="footer-title">Menu</h4>
                  <ul>
                     <li><a href="about-us.html" aria-current="page">About Us</a></li>
                     <li><a href="technology.html">Technology</a></li>
                     <li><a href="services.html">Services</a></li>
                     <li><a href="#">Blog</a></li>
                     <li><a href="contact-us.html">Contact Us</a></li>
                  </ul>
               </div>
               <div class="col-lg-2 col-md-6 col-sm-6 mb-5">
                  <h4 class="footer-title">About Us</h4>
                  <ul>
                     <li><a href="#" aria-current="page">About vizion</a></li>
                     <li><a href="#">Roadmap</a></li>
                     <li><a href="#">How it Work </a></li>
                     <li><a href="team-details.html">Team</a></li>
                     <li><a href="#">News</a></li>
                  </ul>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                  <h4 class="footer-title">Contact Us</h4>
                  <ul class="iq-contact">
                     <li>
                        <a href="tel:+0123456789"><i class="fas fa-phone"></i>+0123456789</a>
                     </li>
                     <li>
                        <a href="mailto:support@vizion.com"><i class="fas fa-envelope"></i>mail@viziondummy.com</a>
                     </li>
                     <li></li>
                  </ul>
                  <ul class="social-links">
                  <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <hr>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6 col-md-6">
                  <p class="copyright mb-0">Copyright 2024 kajande.</p>
               </div>
               <div class="col-lg-6 col-md-6">
                  <div class="right-side">
                     <ul>
                        <li class="d-inline"><a href="#" class="mr-2">Terms & Conditions</a> </li>
                        <li class="d-inline"><a href="#">Privacy Policy</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      <div class="scrolling-effect-footer bottam right default">
               <div data-bottom="transform:translatey(30px)" data-top="transform:translatey(0);"><img src="images/effect/04.png" class="img-fluid" alt="#"></div>
            </div>
      </footer>
      <!-- Footer End -->
      <!-- back-to-top -->
      <div id="back-to-top">
         <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
      </div>
      <!-- back-to-top End -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/jquery-3.3.1.min.js"></script>
      <!-- popper -->
      <script src="js/popper.min.js"></script>
      <!-- bootstrap -->
      <script src="js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="js/appear.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <!-- Owl Carousel -->
      <script src="js/owl.carousel.min.js"></script>
      <!-- Retina JavaScript -->
      <script src="js/retina.min.js"></script>
      <!-- Skrollr JavaScript -->
      <script src="js/skrollr.js"></script>
      <!-- Custom JavaScript -->
      <script src="js/custom.js"></script>
   </body>
</html>