<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Vizion - AI|ML Agriculture Responsive</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
   </head>
   <body>
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <img src="images/loader.gif" alt="loader">
         </div>
      </div>
      <!-- loading End -->
      <!-- Header-->
      <header id="header" class="home">
         <div class="container">
            <div class="row align-items-center no-gutters">
               <div class="col-lg-12">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <a class="navbar-brand" href="index.html">
                        <img class="img-fluid logo" src="images/logo-white.png" alt="image">
                     </a>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                           <li class="nav-item">
                              <a class="nav-link" href="index.html">Home</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="about-us.html">About Us</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="services.html">Services</a>
                           </li>
                           <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                 Blog
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <a class="dropdown-item" href="left-sidebar-blog.html">LEFT SIDEBAR BLOG</a>
                                 <a class="dropdown-item" href="right-sidebar-blog.html">RIGHT SIDEBAR BLOG</a>
                                 <a class="dropdown-item" href="blog-details.html">BLOG DETAILS</a>
                              </div>
                           </li>
                           <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                 Pages
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <a class="dropdown-item" href="technology.html">TECHNOLOGY</a>
                                 <a class="dropdown-item" href="team-details.html">TEAM DETAILS</a>
                                 <a class="dropdown-item" href="partner.html">PARTNER</a>
                                 <a class="dropdown-item" href="404.html">ERROR 404</a>
                                 <a class="dropdown-item" href="coming-soon.html">COMING SOON</a>
                              </div>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link active" href="contact-us.html">Contact Us</a>
                           </li>
                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
         </div>
      </header>
      <!-- Header-->

      <!-- Breadcrumb Start -->
      <section class="iq-breadcrumb">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 mb-4 mb-lg-0">
                  <h3 class="title">Contact Us</h3>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                        <li class="breadcrumb-item active">Contact Us</li>
                     </ol>
                  </nav>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb End -->
      <!-- Main-Content Start -->
      <div class="main-content">
         <div class="our-map">
            <div class="container-fluid overflow-h p-0">
               <div class="row">
                  <div class="col-lg-12">
                     <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.840289118572!2d144.95373631550405!3d-37.81720974201396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1543402448828"  allowfullscreen=""></iframe>
                  </div>
               </div>
            </div>
         </div>
         <section class="overview-block-pb">
            <div class="container">
               <div class="row">
                  <div class="col-lg-7">
                     <form  class="contact-us" id="contact" method="post">
                        <div class="section-title mb-0 text-left text-white">
                           <h3 class="title text-white mb-3">Contact Us</h3>
                           <p class="mb-5">Tempor orci eu lobortis elementum nibh tellus molestie nunc.</p>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <label>Your Name (required)<br>
                              <span class="form-control-wrap your-name">
                              <input type="text" name="name" Placeholder="Your Name" class="form-control text" aria-required="true" aria-invalid="false"></span>
                              </label>
                           </div>
                           <div class="col-md-6">
                              <label>Your Email (required)<br>
                              <span class="form-control-wrap your-email">
                              <input type="email" name="email" Placeholder="Email" class="form-control text email" aria-required="true" aria-invalid="false"></span>
                              </label>
                           </div>
                           <div class="col-xl-12">
                              <label>Subject<br>
                              <span class="form-control-wrap your-subject">
                              <input type="text" name="subject" Placeholder="Subject" class="form-control text" aria-invalid="false"></span>
                              </label>
                           </div>
                           <div class="col-xl-12">
                              <label>Your Message<br>
                              <span class="form-control-wrap your-message">
                              <textarea name="message" Placeholder="Message" class="form-control textarea" aria-invalid="false"></textarea></span>
                              </label>
                           </div>
                           <div class="col-xl-12">
                              <button id="submit" name="submit" type="submit" value="Send" class="button btn-green" >Send message</button>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="col-lg-5 col-md-12 col-sm-12">
                     <div class="contact-info">
                        <h3 class="mb-4">Address</h3>
                        <div class="iq-contact-box media mb-4">
                           <div class="iq-icon">
                              <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                           </div>
                           <div class="contact-box media-body">
                              <p>1234 North Avenue Luke Lane, South Bend,IN 360001</p>
                           </div>
                        </div>
                        <div class="iq-contact-box media mb-4">
                           <div class="iq-icon">
                              <i aria-hidden="true" class="fas fa-envelope"></i>
                           </div>
                           <div class="contact-box media-body">
                              <span>support@vizion.com</span>
                           </div>
                        </div>
                        <div class="iq-contact-box media">
                           <div class="iq-icon">
                              <i aria-hidden="true" class="fas fa-phone"></i>
                           </div>
                           <div class="contact-box media-body">
                              <p class="mb-0">+1 (234) 56789</p>
                              <p>+1 987 654 3210</p>
                           </div>
                        </div>
                        <ul class="social-links mt-5">
<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
<li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
</ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <!-- Main-Content End -->
      <!-- Footer Start -->
      <footer class="main-footer blue-bg">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-6 col-sm-6 mb-5 iq-pr-80">
                  <div class="footer-logo">
                     <a href="#">
                     <img class="img-fluid" src="images/logo-dark.png" alt="Vizion1">
                     </a>
                  </div>
                  <div class="textwidget">
                     <p class="mb-0">It is a long established fact that a reader will be distracted by the readable content.</p>
                  </div>
               </div>
               <div class="col-lg-2 col-md-6 col-sm-6 mb-5">
                  <h4 class="footer-title">Menu</h4>
                  <ul>
                     <li><a href="about-us.html" aria-current="page">About Us</a></li>
                     <li><a href="technology.html">Technology</a></li>
                     <li><a href="services.html">Services</a></li>
                     <li><a href="blog.html">Blog</a></li>
                     <li><a href="contact-us.html">Contact Us</a></li>
                  </ul>
               </div>
               <div class="col-lg-2 col-md-6 col-sm-6 mb-5">
                  <h4 class="footer-title">About Us</h4>
                  <ul>
                     <li><a href="#" aria-current="page">About vizion</a></li>
                     <li><a href="#">Roadmap</a></li>
                     <li><a href="#">How it Work </a></li>
                     <li><a href="team-details.html">Team</a></li>
                     <li><a href="#">News</a></li>
                  </ul>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                  <h4 class="footer-title">Contact Us</h4>
                  <ul class="iq-contact">
                     <li>
                        <a href="tel:+0123456789"><i class="fas fa-phone"></i>+0123456789</a>
                     </li>
                     <li>
                        <a href="mailto:support@vizion.com"><i class="fas fa-envelope"></i>mail@viziondummy.com</a>
                     </li>
                     <li></li>
                  </ul>
                  <ul class="social-links">
                  <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <hr>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6 col-md-6">
                  <p class="copyright mb-0">Copyright 2019 vizion All Rights Reserved.</p>
               </div>
               <div class="col-lg-6 col-md-6">
                  <div class="right-side">
                     <ul>
                        <li class="d-inline"><a href="#" class="mr-2">Terms & Conditions</a> </li>
                        <li class="d-inline"><a href="#">Privacy Policy</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      <div class="scrolling-effect-footer bottam right default">
               <div data-bottom="transform:translatey(30px)" data-top="transform:translatey(0);"><img src="images/effect/04.png" class="img-fluid" alt="#"></div>
            </div>
      </footer>
      <!-- Footer End -->
      <!-- back-to-top -->
      <div id="back-to-top">
         <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
      </div>
      <!-- back-to-top End -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/jquery-3.3.1.min.js"></script>
      <!-- popper -->
      <script src="js/popper.min.js"></script>
      <!-- bootstrap -->
      <script src="js/bootstrap.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <!-- Owl Carousel -->
      <script src="js/owl.carousel.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="js/wow.min.js"></script>
      <!-- main -->
      <script src="js/main.js"></script>
      <!-- Retina JavaScript -->
      <script src="js/retina.min.js"></script>
      <!-- Skrollr JavaScript -->
      <script src="js/skrollr.js"></script>
      <!-- Custom JavaScript -->
      <script src="js/custom.js"></script>
   </body>
</html>